@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #18247e;
  --secondary-color: #465098;
  --tertiary-color: #747cb2;
  --forthy-color: #f0f0f0;
  --fifthy-color: #333;
  --background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: var(--background-color);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 24px;
  margin: 0 0 10px;
}

p {
  font-size: 14px;
  margin: 0 0 20px;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

button[type="submit"] {
  width: 150px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  text-decoration: none;
  height: 100%;
  border-radius: 49px;
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  padding: 13px;
  cursor: pointer;
  transition: 0.5s;
}

button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: var(--forthy-color);
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: var(--primary-color);
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--fifthy-color);
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 49px;
  color: var(--background-color);
  font-weight: 600;
  margin: 4px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.rest-back {
  display: flex;
}

.rest-back p {
  margin-left: 20px;
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--tertiary-color);
  margin: 15px 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}