<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/access_denied_style.css">
    <script src="{{ url_for('static', filename='css/access_denied_style.css') }}"></script>
    <title>Acess Denied</title>  
</head>
  <body>
    <div class="container">
        <h1>Acess Denied</h1>
        <p>Sorry, you don't have permission to access this page.</p>
        <a href="/">Go to Homepage</a>
    </div>
  </body>