<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/forgot_password.css">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"
></script>
  <title>Forgot Password</title>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h2>Forgot Your Password?</h2>
      <p>Enter your email address to reset your password.</p>
      <form method="post" action="/register" class="sign-up-form" id="signup-form">
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" name="email" id="email-input" />
        </div>
        <p id="email-error" style="color: red; display: none;font-size: 14px; ">Invalid email address.</p>
        <p id="email-error-exist" style="color: red; display: none;font-size: 14px; ">Email address is already exists.</p>
      </form>
      <div class="rest-back">
        <input type="submit" value="Rest password" class="btn solid" />
        <p><a href="/login">Back to Login</a></p>
      </div>
     
    </div>
  </div>
</body>
</html>
